.city-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
}

.city-details-container {
  display: flex; 
  justify-content: space-evenly;
}

.city-details-container > img {
  height: 35%;
  width: 35%;
}